@model IEnumerable<Menu>

<h2>Menu</h2>
<table class="table">
    <tr>
        <th>Pizza_ID</th>
        <th>Pizza_name</th>
        <th>Topping1</th>
        <th>Topping2</th>
        <th>Topping3</th>
        <th>Price</th>
    </tr>

    @foreach (var menu in @Model)
    {
        <tr>
            <td>@menu.Pizza_ID</td>
            <td>@menu.Pizza_name</td>
            <td>@menu.Topping1</td>
            <td>@menu.Topping2</td>
            <td>@menu.Topping3</td>
            <td>@menu.Price</td>
        </tr>
    }

</table>